//
//  AppConfig.xcconfig
//  TheMovieApp
//
//  Created by Anthony Tran on 18/03/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DOMAIN = https:/$()/itunes.apple.com/search
API_ENDPOINT = /?

IMAGE_DOMAIN = https:/$()/is1-ssl.mzstatic.com/image/thumb

